<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>パスワード変更</title>
    <link rel="stylesheet" type="text/css" th:href="@{/default.css}"/>
</head>
<body>
<div class="master_input">
    <h1>パスワード変更</h1>
    <form method="post" th:action="@{/changePassword/submit}">
        <label>ユーザーID</label><br>
        <span th:text="${user.id}"></span><br>
        <label>ユーザー名</label><br>
        <span th:text="${user.name}"></span><br>
        <input name="id" type="hidden" th:value="${user.id}"/>
        <input name="name" type="hidden" th:value="${user.name}"/>

        <label>現在のパスワード</label><br>
        <input name="oldPassword" type="password"/><br>

        <label>新しいパスワード</label><br>
        <input name="newPassword" type="password"/><br>

        <label>確認用パスワード</label><br>
        <input name="checkPassword" type="password"/><br>

        <input type="submit" name="update" value="変更" />
        <input type="submit" name="back" value="戻る" />

        <p th:each="message : ${errorMessage}" th:text="${message}"></p>
    </form>
</div>
</body>
</html>
